# Server configuration
PORT=3000

MONGO_URI=your_mongo_uri

# Gemini AI configuration
GEMINI_API_KEY=your_gemini_api_key

# Environment Settings [change to 'production' on full run]
NODE_ENV=development